html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

body {
  font-family: "Bevan", cursive;
  margin: 0;
  background-color: #79766f;
  border: 2.5px solid #5b5751;
}

h1 {
  color: #fff;
  text-align: center;
  padding: 0;
  margin-bottom: 0.5px;
}

.horizontal-nav {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.horizontal-nav li {
  display: inline;
}

.horizontal-nav li a {
  display: inline-block;
  background-color: #723738;
  color: #fff;
  font-family: sans-serif;
  font-weight: lighter;
  text-decoration: none;
  padding: 12px;
  border-radius: 3px;
}

.horizontal-nav li a:hover {
  background-color: #ff332a
}

*, *::before, *::after {
  box-sizing: inherit;
}
